@font-face {
  font-family: "meta pro";
  src:
    url("/static/fonts/MetaProOTF/MetaPro-Normal.otf") format("opentype"),
    url("/static/fonts/MetaProOTF/MtNoLFRo.ttf")       format("truetype");
  font-weight:  400;
  font-style:   normal;
  font-display: swap;
}

@font-face {
  font-family: "meta pro";
  src: url("/static/fonts/MetaProOTF/MetaPro-NormalItalic.otf") format("opentype");
  font-weight:  400;
  font-style:   italic;
  font-display: swap;
}

@font-face {
  font-family: "meta pro";
  src: url("/static/fonts/MetaProOTF/MetaPro-Book.otf") format("opentype");
  font-weight:  300;
  font-style:   normal;
  font-display: swap;
}

@font-face {
  font-family: "meta pro";
  src: url("/static/fonts/MetaProOTF/MetaPro-Medium.otf") format("opentype");
  font-weight:  500;
  font-style:   normal;
  font-display: swap;
}

@font-face {
  font-family: "meta pro";
  src: url("/static/fonts/MetaProOTF/MetaPro-MediumItalic.otf") format("opentype");
  font-weight:  500;
  font-style:   italic;
  font-display: swap;
}

@font-face {
  font-family: "meta pro";
  src: url("/static/fonts/MetaProOTF/MetaPro-Bold.otf") format("opentype");
  font-weight:  700;
  font-style:   normal;
  font-display: swap;
}

@font-face {
  font-family: "meta pro";
  src: url("/static/fonts/MetaProOTF/MetaPro-Black.otf") format("opentype");
  font-weight:  900;
  font-style:   normal;
  font-display: swap;
}




/* every element use meta pro */
html {
  /* font-family: "meta pro", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif; */
  /* font-family: "meta pro", Arial, sans-serif; */
  font-family: "meta pro", Arial, sans-serif;
  /* font-family: Arial; */
  line-height: 1.6;
  font-variant-ligatures: none;
}

/* Ensure form controls inherit the font as well */
body,
input,
button,
select,
textarea {
    font: inherit;
}

/* 
*/

:root {
  --color-white:        rgb(255, 255, 255);
  --color-black:        rgb(  0,   0,   0);

  --color-logo:         rgb( 0,  105, 180);

  
  --color-green:        rgb(194, 211,   0);
  --color-primary:      rgb(194, 211,   0);
  --color-green-1:      rgb(200, 212,   0);


  --color-secondary:    rgb(174, 215, 217);
  --color-iceblue:      rgb(174, 215, 217);
  --color-iceblue-2:    rgb(198, 219, 223);
  --color-iceblue-3:    rgb(213, 236, 240);
  --color-iceblue-4:    rgb(245, 245, 246);

  --color-grey:         rgb( 74,  74,  73);
  --color-font:         rgb( 74,  74,  73);
  --color-grey-2:       rgb(112, 111, 111);

  --color-grey-op5:    rgba( 74,  74,  73, 0.5);
  --color-grey-2-op5:  rgba( 112, 111,111, 0.5);
;

  --color-grey-lt:      rgb(135, 135, 134);
  --color-grey-lt-2:    rgb(157, 157, 156);

}


h3, p, li {
    color:  var(--color-font);
}


a, a:not([class]) {
    /* text-decoration: none; */
    /* text-decoration: underline; */
}

a:hover {
    /* text-decoration: none; */
    /* text-decoration: underline; */
}



body main#main a,
body div.blog-body a,
dummy  {
    display:  block;       /* always starts new line  */
    width:    fit-content; /* shrink to content width */

    text-size-adjust: 100%;

    height:     auto;
    box-sizing: border-box;

    color:rgb(87, 86, 86);


    /*
      0px    - horizontal offset (X-axis)
      1px    - vertical   offset (Y-axis) - thickness
      0px    - blur radius
      0px    - spread radius    
    */
    box-shadow: rgb(87, 86, 86) 0px 1.2px 0px 0px;
    /* keep the shadow close */
    line-height: 1.05;
    padding: 0;
    margin:  0;
    
    margin-bottom:  1.5ch;
}
body main#main a:hover,
body div.blog-body a:hover,
dummy  {
    text-decoration:    none;
    color:            #F8F8F8;
    background-color: #888;
}

body main#main     a.blog-list-entry,
body div.blog-body a.blog-list-entry,
dummy  {
    margin-bottom:  0.2ch;
    font-weight: bold;
}





/* style of the goat counter pixel */
#goat_counter_pixel {
    position:absolute;
    left: -9999px;
    top:  -9999px;
}



/* infobox start */

  /* wobble */
  @keyframes wobble {
        0% { transform: rotate(  0deg); }
        15% { transform: rotate(-10deg); }
        30% { transform: rotate(  8deg); }
        45% { transform: rotate( -6deg); }
        60% { transform: rotate(  4deg); }
        75% { transform: rotate( -2deg); }
      100% { transform: rotate(  0deg); }
  }
  .wobble {
      animation: wobble 0.6s ease-in-out;
  }

  #btnDlgIco {
      width:         1.2rem;
      height:        1.2rem;
      font-size:     1.1rem;
      font-weight:   400;
      line-height:   1;
      display:       inline-grid !important;
      place-items:   center;
      border-radius: 44%;
      border:        2px solid currentColor;
      margin-left:   0.5rem;
      box-shadow: none !important;
  }


  dialog {
      width:            66vw;
      height:           66vh;
      max-width:      1000px;
      max-height:      800px;
      border:           none;
      border-radius:    12px;
      padding:           0;
      box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
  }
  dialog::backdrop {
      background: rgba(0, 0, 0, 0.45);
  }


  #dlgHead {
      display:         flex;
      justify-content: space-between;
      align-items:     center;
      padding:          1rem 1.25rem;
      padding-top:      1.25rem;
      border-bottom:   1px solid #e5e7eb;
      /* font-weight: 600; */
      font-weight: 400;
      background-color: #efefef;
      height:      1.7ch;
  }

  #btnDlgClose {
      background: none;
      border:     none;
      font-size:  1.15rem;
      height:     1.35rem;
      line-height: 1.1;
      /* cursor: pointer; */
  }

  #dlgCnt {
      margin:      0;
      padding:     0.8rem 0.925rem;
      overflow:    auto;
      overflow-y:  auto;
      height: calc(100% - 3.5ch);
      font-size:  120%;
      line-height: 2.4;
  }

  #dlgCnt ul li {
    list-style: circle;
    line-height: 1.6;
    margin: 0.3ch 0;
    margin-left: 2ch;
  }

  #dlgCnt   ul ul {
      margin-left:  2ch;     /*  indent */
      padding-left: 2ch;    
  }
  #dlgCnt   ul ul li {
    font-size: 90%;
  }

  @media (max-width: 768px) {
      dialog {
          width:  90vw;
          height: 90vh;
      }
  }


/* infobox end */