@font-face {
  font-family: "meta pro";
  src:
    url("/static/fonts/MetaProOTF/MetaPro-Normal.otf") format("opentype"),
    url("/static/fonts/MetaProOTF/MtNoLFRo.ttf")       format("truetype");
  font-weight:  400;
  font-style:   normal;
  font-display: swap;
}

@font-face {
  font-family: "meta pro";
  src: url("/static/fonts/MetaProOTF/MetaPro-NormalItalic.otf") format("opentype");
  font-weight:  400;
  font-style:   italic;
  font-display: swap;
}

@font-face {
  font-family: "meta pro";
  src: url("/static/fonts/MetaProOTF/MetaPro-Book.otf") format("opentype");
  font-weight:  300;
  font-style:   normal;
  font-display: swap;
}

@font-face {
  font-family: "meta pro";
  src: url("/static/fonts/MetaProOTF/MetaPro-Medium.otf") format("opentype");
  font-weight:  500;
  font-style:   normal;
  font-display: swap;
}

@font-face {
  font-family: "meta pro";
  src: url("/static/fonts/MetaProOTF/MetaPro-MediumItalic.otf") format("opentype");
  font-weight:  500;
  font-style:   italic;
  font-display: swap;
}

@font-face {
  font-family: "meta pro";
  src: url("/static/fonts/MetaProOTF/MetaPro-Bold.otf") format("opentype");
  font-weight:  700;
  font-style:   normal;
  font-display: swap;
}

@font-face {
  font-family: "meta pro";
  src: url("/static/fonts/MetaProOTF/MetaPro-Black.otf") format("opentype");
  font-weight:  900;
  font-style:   normal;
  font-display: swap;
}




/* every element use meta pro */
html {
  /* font-family: "meta pro", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif; */
  /* font-family: "meta pro", Arial, sans-serif; */
  font-family: "meta pro", Arial, sans-serif;
  /* font-family: Arial; */
  line-height: 1.6;
  font-variant-ligatures: none;
}

/* Ensure form controls inherit the font as well */
body,
input,
button,
select,
textarea {
  font: inherit;
}

/* 
*/

:root {
  --color-white:        rgb(255, 255, 255);
  --color-black:        rgb(  0,   0,   0);

  --color-logo:         rgb( 0,  105, 180);

  
  --color-green:        rgb(194, 211,   0);
  --color-primary:      rgb(194, 211,   0);
  --color-green-1:      rgb(200, 212,   0);


  --color-secondary:    rgb(174, 215, 217);
  --color-iceblue:      rgb(174, 215, 217);
  --color-iceblue-2:    rgb(198, 219, 223);
  --color-iceblue-3:    rgb(213, 236, 240);
  --color-iceblue-4:    rgb(245, 245, 246);

  --color-grey:         rgb( 74,  74,  73);
  --color-font:         rgb( 74,  74,  73);
  --color-grey-2:       rgb(112, 111, 111);

  --color-grey-lt:      rgb(135, 135, 134);
  --color-grey-lt-2:    rgb(157, 157, 156);






}


h3, p, li {
    color:  var(--color-font);
}


a, a:not([class]) {
    /* text-decoration: none; */
    /* text-decoration: underline; */
}

a:hover {
    /* text-decoration: none; */
    text-decoration: underline;
}

/* style of the goat counter pixel */
#goat_counter_pixel {
  position:absolute;
  left: -9999px;
  top:  -9999px;
}