<!DOCTYPE html>
<html class="" lang="{{ curLg }}">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>{{ i18n.app_title }}</title>
    <meta content="index, follow" name="robots" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link    href="/static/css/ecb-mon-fonts.css?v={{staticVersion}}" rel="stylesheet" />
    <link    href="/static/css/ecb-mon.css?v={{staticVersion}}" rel="stylesheet" />
    <script  src="/static/js/funcs.js?v={{staticVersion}}"    type="text/javascript"  ></script>

    <!-- factoring out inline script causes complexity  -->
    <script>
        // ENV = 'production' => DEBUG = False, else TRUE
        window.APP_DEBUG    =  {{ "true" if config['DEBUG'] else "false" }};
        window.APP_LANGUAGE = "{{ curLg }}";
   </script


</head>

<body>

    <header>
        <nav>

            <a class="c-meta__link c-meta__link--brand" title="{{i18n.app_title}}"
                href="/"          >{{i18n.app_title}}  </a>

            <a class="c-meta__link" title=""
                href="/pg/ecb-council.html"          >{{i18n.headline_ecb_council|safe}}  </a>

            <a class="c-meta__link" title=""
                href="/pg/fiscal-landscape.html"     >{{i18n.headline_fiscal_data|safe}} </a>

            <a class="c-meta__link" title=""
                href="/pg/economic-environment.html" >{{i18n.section_economic_environment|safe}} </a>

            <a class="c-meta__link" title=""
                href="/md/interest-rates.md"         >{{i18n.section_ecb_monetary_policy|safe}}  </a>

            <a class="c-meta__link" title="Aktuelle Forschung"
                href="/blog/science/newest"          >{{i18n.headline_science|safe}}  </a>



            <a class="c-meta__link" title="ZEW"
                href="https://www.zew.de/das-zew/ueber-das-zew" >ZEW</a>


            <a class="c-meta__link"  title="{{i18n.switch_language_hint}}"
                href="{{switchLgUrl}}"
                accesskey="l"
            >{{i18n.switch_language_label|safe}}  <!-- {{switchLgCode}} --></a>

        </nav>


        <!-- xxxxx  nav zweite Zeile -->
        <div class="c-menu-main" id="c-menu-main">

            <!-- burger -->
            <div></div>

            <a class="c-meta__link" href="/" target="_self">
                {{ i18n.app_title }}
            </a>

            <div></div>
        </div>

    </header>

    <!-- xxxx content start  -->
    {{ content | safe }}


    {% include "partials/footer-en.html" %}


  <!-- GoatCounter pixel: placed at the END of <body> -->
  <img id="goat_counter_pixel"
    src="/gc-stats?p={{ request.path | urlencode }}"
    alt="" width="1" height="1"
    referrerpolicy="no-referrer-when-downgrade"
  />



</body>

</html>
